build/
__pycache__
__modeldump__/
.*.sw[onp]
*.pyc
doc
/tests/bend.blend
/tests/bend.blend1
/tests/bend.blend2
/tests/bend.dae
/tests/bend.xmlvis
/tests/cone.blend
/tests/cone.blend1
/tests/cone.blend2
/tests/cone.dae
/tests/cone.mtl
/tests/cone.obj
/tests/cube.mtl
/tests/cube.obj
/raygllib/tags
/raygllib/ui/base.py
/raygllib/ui/__init__.py
/tests/test_ui.py
/tests/tex1.png
/tests/xx.png
/raygllib/_halfedge.c
/raygllib/_halfedge.html
/raygllib/_halfedgeptr.c
/raygllib/_halfedgeptr.pyx
/raygllib/ui/_render.c
/raygllib/ui/_render.cpython-33m.so
